<template>
	<div class="list">
		<h1>To Do List</h1>
		<div>
			<div>
				<input
					type="text"
					name="toDoList"
					id="toDo"
					class="my_input input is-primary is-rounded mt-4 is-small"
					v-model="myinput"
					placeholder="Add text here"
				/>
			</div>
			<div>
				<button
					:disabled="!myinput || myinput === ''"
					class="button is-primary is-outlined is-rounded mt-4"
					value="add"
					@click="addElement"
				>
					Add
				</button>
				<button
					class="button is-danger is-outlined is-rounded ml-4 mt-4"
					@click="todos = []"
				>
					delete all
				</button>
				<label class="checkbox ml-4 mt-4">
					<input type="checkbox" v-model="filter" class="ml-4 mt-4" />
					Filtering: {{ filter }}
				</label>
			</div>
		</div>
		<div v-if="todos.length">
			<h1>My To Do List:</h1>
			<div v-if="filter">
				<div
					class="list_item"
					v-for="todo in completedTodos"
					:key="todo.id"
				>
					{{ todo.todoTitle }}
					{{ numbofDonetodos }}
					{{ completedTodos.length }}
				</div>
			</div>
			<section v-else class="list">
				<div
					class="list_item"
					v-for="(todo, index) in todos"
					:key="todo.id"
				>
					<div class="box">
						<p
							for="list_item"
							:disabled="todo.isTodoDone"
							:class="{ doneTaskClass: todo.isTodoDone }"
						>
							{{ todo.todoTitle }}
						</p>
						<!-- @click="todo.todoIsOpen = !todo.todoIsOpen" -->
						<button
							v-if="!currentSelection"
							@click="handleEdit(index)"
							class="button is-info is-outlined is-rounded ml-4 mt-4"
						>
							<i class="fas fa-edit is-large"></i>
						</button>
						<div v-if="todo.todoIsOpen">
							<button
								class="button is-info is-pulled-right"
								@click="handleBack(index)"
							>
								Back
							</button>
							<input
								name="list_item"
								v-model="todo.todoTitle"
								:disabled="todo.isTodoDone"
							/>
							<label>
								Done :
								<input
									class="checkbox"
									name="list_item_status"
									type="checkbox"
									@mouseover="hover = true"
									@mouseleave="hover = false"
									:class="{ active: hover }"
									v-model="todo.isTodoDone"
								/>
							</label>
							<br />
							<button
								class="button is-danger is-outlined is-rounded ml-4 mt-4"
								@click="onDelete(index)"
							>
								delete
							</button>
						</div>
					</div>
				</div>
				<!-- <div>
          {{ currentSelection }}
          <div v-if="currentSelection">
            <input
              name="list_item"
              v-model="currentSelection.todoTitle"
              :disabled="currentSelection.isTodoDone"
            />
            <label>
              Done :
              <input
                class="checkbox"
                name="list_item_status"
                type="checkbox"
                @mouseover="hover = true"
                @mouseleave="hover = false"
                :class="{ active: hover }"
                v-model="currentSelection.isTodoDone"
              />
            </label>
            <br />
            <button
              class="button is-danger is-outlined is-rounded ml-4 mt-4"
              @click="onDelete(index)"
            >
              delete
            </button>
          </div>
				</div>-->
			</section>
		</div>
	</div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
export default {
	name: 'app',
	data() {
		return {
			myinput: null,
			todos: [],
			checked: false,
			hover: false,
			filter: null,
			currentSelection: null,
		}
	},
	computed: {
		completedTodos() {
			let temp = this.todos.filter(todo => todo.isTodoDone)
			return temp
		},
		numbofDonetodos() {
			return this.todos.filter(todo => todo.isTodoDone).length
		},
	},
	methods: {
		addElement: function() {
			if (this.myinput && this.todos) {
				this.show = true
				this.todos.push({
					id: 'todo_string_' + uuidv4(),
					todoTitle: this.myinput,
					todoDescription: null,
					todoIsOpen: false,
					isTodoDone: false,
				})
				this.myinput = null
			} else {
				alert('please enter a task!')
			}
		},
		handleBack: function(index) {
			this.currentSelection = null
			this.todos[index].todoIsOpen = false
		},
		handleEdit: function(index) {
			if (!this.currentSelection) {
				this.currentSelection = this.todos[index]
			} else {
				this.currentSelection = null
			}
			this.todos[index].todoIsOpen = !this.todos[index].todoIsOpen
		},
		console: function() {
			console.log('10')
			this.otherconsole()
		},
		otherconsole: function() {
			console.log('20')
		},
		onDelete: function(index) {
			this.todos.splice(index, 1)
		},
	},
}
</script>

<style scoped>
.active {
	cursor: pointer;
}
.doneTaskClass {
	text-decoration: line-through;
	color: gray;
}
</style>
