<template>
  <div class="login">
    <img alt="Vue logo" src="../assets/logo.png" />
    <Form msg="Login Page" />
  </div>
</template>

<script>
// @ is an alias to /src
import Form from "@/components/Form.vue";

export default {
  name: "Login",
  components: {
    Form
  }
};
</script>
